### Q1. Create a list of five integers and print it.

In [1]:
o=["omar", "ahmed", "ali", "mohamed", "khaled"]
print(o)

['omar', 'ahmed', 'ali', 'mohamed', 'khaled']

### Q2. Write a program to find the length of a list.

In [2]:
len(o)

5

### Q3. Create a tuple with three elements and print the second item.

In [3]:
x=('omar','yousef','yehia')
x[1]

'yousef'

### Q5. Write a program to convert a list into a set.

In [4]:
conv_set=set(o)
print(conv_set)

{'omar', 'mohamed', 'ahmed', 'khaled', 'ali'}

### Q6. Create a string and print its first and last characters.

In [9]:
s="omar"
s[0]
s[-1]

'o'

### Q7. Take input from the user and print it.

In [12]:
in_omar=input("enter your name pls")
print(in_omar)

osama

### Q8. Write a program to add two numbers entered by the user.

In [13]:
x=int(input("enter your number"))
y=int(input("enter your second num"))
print (x+y)

17

### Q9. Use `type()` function to check the data type of a variable.

In [14]:
omar = '100'
type(omar)

str

### Q10. Create a boolean variable and print it.

In [20]:
x=True
print(x)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [21]:
x=10
if x>0:
    print("x is positive")
elif x<0:
    print("x is negative")
else:
    print("x is zero")

x is positive

### Q12. Write a program to check if a number is even or odd.

In [22]:
z=int(input("enter your number"))
if z%2==0:
    print("even")
else:
    print("odd")

even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [23]:
for i in range(3):
    print("omar")

omar
omar
omar

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [25]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [26]:
for i in o:
    print(i)

omar
ahmed
ali
mohamed
khaled

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [27]:
s=0
for i in range(1,101):
    s+=i
print(s)

5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [28]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

### Q18. Write a `for` loop to print each character in a string.

In [32]:
s1=str(s)
for i in s1:
    print(i)

5
0
5
0

### Q19. Use a `for` loop to print all values in a dictionary.

In [35]:
d={"omar":100, "ahmed":200, "ali":300}
for i in d:
    print(i)

omar
ahmed
ali

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [37]:
p=1
for i in range(1,11):
    p*=i
    print(p)

1
2
6
24
120
720
5040
40320
362880
3628800

### Q21. Create a list of your 5 favorite fruits.

In [38]:
h=["apple", "banana", "mango", "orange", "berry"]

### Q22. Add a new fruit to your list of favorite fruits.

In [39]:
h.append("pineapple")

### Q23. Remove the second item from a list.

In [40]:
h.pop(1
      )
print(h)

['apple', 'mango', 'orange', 'pineapple']

### Q24. Sort a list of numbers in descending order.

In [43]:
h.sort(reverse=True)
print(h)

['pineapple', 'orange', 'mango', 'apple']

### Q25. Find the maximum and minimum values in a list.

In [48]:
list_num = [2, 23, 95, 44, 23]
max(list_num)
min(list_num)
print(max(list_num))
print(min(list_num))

95
2

### Q26. Count how many times a value appears in a list.

In [49]:
list_num.count(23)

2

### Q27. Check if a specific value exists in a list.

In [50]:
if "apple" in h:
    print('yes')
else:
    print('no')

yes

### Q28. Reverse a list without using reverse() function.

In [53]:
list_num=list_num[::-1]
print(list_num)

[23, 44, 95, 23, 2]

### Q29. Make a copy of a list and modify the copy only.

In [54]:
copy_list=list_num.copy()
print(copy_list)

[23, 44, 95, 23, 2]

### Q30. Use slicing to get the first 3 items of a list.

In [55]:
copy_list[:3]

[23, 44, 95]

### Q31. Create a tuple with 4 elements and print its length.

In [56]:
tp=("omar", "ahmed", "ali", "mohamed")
len(tp)

4

### Q32. Access the last element of a tuple.

In [57]:
tp[-1]

'mohamed'

### Q33. Convert a tuple into a list.

In [60]:
tp_list=list(tp)
print(tp_list)

['omar', 'ahmed', 'ali', 'mohamed']

### Q34. Convert a list into a tuple.

In [61]:
tp_tuple=tuple(tp_list)
print(tp_tuple)

('omar', 'ahmed', 'ali', 'mohamed')

### Q35. Check if a value exists in a tuple.

In [62]:
if "omar" in tp:
    print("yes")
else:
    print("no")

yes

### Q36. Concatenate two tuples.

In [63]:
x=("omar", "ahmed", "ali", "mohamed")
y=("yousef", "khaled", "khaled", "khaled")
z=x+y
print(z)

('omar', 'ahmed', 'ali', 'mohamed', 'yousef', 'khaled', 'khaled', 'khaled')

### Q37. Repeat a tuple 3 times.

In [65]:

t=z*3
print(t)

('omar', 'ahmed', 'ali', 'mohamed', 'yousef', 'khaled', 'khaled', 'khaled', 'omar', 'ahmed', 'ali', 'mohamed', 'yousef', 'khaled', 'khaled', 'khaled', 'omar', 'ahmed', 'ali', 'mohamed', 'yousef', 'khaled', 'khaled', 'khaled')

### Q38. Find the index of an element in a tuple.

In [70]:
z
z.index('ahmed')

1

### Q39. Use tuple unpacking to assign values to variables.

In [77]:
a, b, c, d, e, f, g = t[:7]
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

omar
ahmed
ali
mohamed
yousef
khaled
khaled

### Q40. Create a nested list and access an inner element.

In [78]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[1][2])  # Accessing the element '6' from the second inner list

6

### Q41. Create a set of 5 unique colors.

In [75]:
list_color=['blue','black','white','red']
print(list_color)

['blue', 'black', 'white', 'red']

### Q42. Add a new color to the set.

In [76]:
list_color.append('green')
print(list_color)

['blue', 'black', 'white', 'red', 'green']

### Q43. Remove an item from the set using `remove()`.

In [81]:
set_s=set(list_color)
set_s.remove('blue')
print(set_s)

{'green', 'black', 'red', 'white'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [83]:
set_s.discard('green')
print(set_s)

{'black', 'red', 'white'}

### Q45. Create a set from a list with duplicate values.

In [91]:
set_s=list_color*2
set1=set(set_s)
print(set1)

{'green', 'black', 'red', 'blue', 'white'}

### Q46. Find the union of two sets.

In [92]:
set1.union()

{'black', 'blue', 'green', 'red', 'white'}

### Q47. Find the intersection of two sets.

In [93]:
set1.intersection()

{'black', 'blue', 'green', 'red', 'white'}

### Q48. Find the difference between two sets.

In [94]:
set1.difference()

{'black', 'blue', 'green', 'red', 'white'}

### Q49. Check if a set is a subset of another set.

In [95]:
set_superset = {'a', 'b', 'c', 'd', 'e'}
set_subset = {'b', 'd'}

# Check if set_subset is a subset of set_superset
set_subset.issubset(set_superset)

True

### Q50. Check if two sets are disjoint.

### Q51. Create a dictionary with 3 items: name, age, and city.

In [97]:
dc={'name':"omar",'age':21,'city':"cairo"}
print(dc)

{'name': 'omar', 'age': 21, 'city': 'cairo'}

### Q52. Add a new key-value pair to the dictionary.

SyntaxError: invalid syntax (784921923.py, line 1)

### Q53. Update the value of an existing key in the dictionary.

In [100]:
dc.update({'sname': "essa", 'work': 'team leader'})
print(dc)

{'name': 'omar', 'age': 21, 'city': 'cairo', 'sname': 'essa', 'work': 'team leader'}

### Q54. Remove a key from the dictionary using `pop()`.

In [101]:
dc.pop('age','found')
print(dc)

{'name': 'omar', 'city': 'cairo', 'sname': 'essa', 'work': 'team leader'}

### Q55. Check if a key exists in the dictionary.

In [105]:
value = dc.pop('age', 'false')
print(value)

false

### Q56. Loop through a dictionary and print all keys and values.

In [110]:
for i in dc:
    dc.keys()
    print(i)

name
city
sname
work

### Q57. Get all keys from a dictionary using `keys()`.

In [111]:
keys = dc.keys()
print(keys)

dict_keys(['name', 'city', 'sname', 'work'])

### Q58. Get all values from a dictionary using `values()`.

In [113]:
value = dc.values()
print(value)

dict_values(['omar', 'cairo', 'essa', 'team leader'])

### Q59. Get all key-value pairs using `items()`.

### Q60. Create a dictionary from two lists: one for keys and one for values.